{% extends 'base.html' %}
{% block content %}
<h2>Controle - Autores</h2><br>
<details>
    <summary>[ Cadastrar novo autor ]</summary>
    <div class="col-md-4">
        <form action="{{ url_for('autoresestoque') }}" method="POST">
            <input type="text" name="nome" placeholder="Nome" class="form-control" required>
            <input type="number" name="idade" placeholder="Idade" class="form-control" required>
            <input type="text" name="genero" placeholder="Gênero" class="form-control" required>
            <input type="text" name="nacionalidade" placeholder="Nacionalidade" class="form-control" required><br>
            <input type="submit" value="Cadastrar" class="btn btn-success">
            <input type="reset" value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>

<hr>
<h5>Autores:</h5><br>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th style="width: 50px;"></th>
            <th>Nome:</th>
            <th>Idade:</th>
            <th>Gênero:</th>
            <th>Nacionalidade:</th>
            <th style="text-align: center;" colspan="2">Ação:</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autoresestoque.items %}
        <tr>
            <td style="text-align: center;">
                <img src="{{ url_for('static', filename='imgs/game-icon.png') }}" alt="Autor" width="40px">
            </td>
            <td>{{ autor.nome }}</td>
            <td>{{ autor.idade }}</td>
            <td>{{ autor.genero }}</td>
            <td>{{ autor.nacionalidade }}</td>
            <td style="text-align: center; width: 130px;">
                <a class="btn btn-warning" href="{{ url_for('autoredit', id=autor.id) }}">Editar</a>
            </td>
            <td style="text-align: center; width: 130px;">
                <a class="btn btn-danger" href="{{ url_for('autoresestoque', id=autor.id) }}"
                   onclick="return confirm('Deseja mesmo excluir o autor {{ autor.nome }}?')">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p style="text-align: center;">
    {% if autoresestoque.has_prev %}
        <a href="{{ url_for('autoresestoque', page=autoresestoque.prev_num) }}">&lt;&lt; Anterior</a>
    {% endif %}
    {% if autoresestoque.has_next %}
        <a href="{{ url_for('autoresestoque', page=autoresestoque.next_num) }}">Próximo &gt;&gt;</a>
    {% endif %}
</p>
{% endblock content %}
